@import url('https://fonts.googleapis.com');

/* colors
yellows: #fad264  #f8e398
greens: #9ca077 #344c08
purple: #2a134
*/
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f9fbf9;
}

/* Navigation */
.navbar {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #2a2134;
  color: white;
}

.links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* Header */
.hero {
  background-image: url(https://t3.ftcdn.net/jpg/03/69/33/78/360_F_369337883_LuRGPCIiOe5lqSyh9t2GPEIbZtPQLB7W.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
  
  background-position: bottom ;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 40px 10px;
  //*border-radius: 0 0 20px 20px;*/
}
.hero img{
  position: relative;
  width: 200px;
  height: 200px;
}
.hero h1 {
  font-size: 5rem;
}

.think {
  margin: 40px;
  color: #2a2134;
  font-weight: 700;
  font-style: oblique;
  text-align: center;
  font-size: 25px;

}

/* About */
.about {
  text-align: center;
  font-size: 35px;
  color: #9ca077;
  font-family: "Lora", serif;
  display: flex;
  padding: 60px;
  gap: 40px;
  margin: 10px;
  border-radius: 20px;
}

.about p{
 font-size: 25px;
}

.about img{
  width: 500px;
  height:  500px;
}

.text {
  flex: 1;
}

.image {
  flex: 1;
  background: #f8e398;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

/* Features */
.features-wrapper {
  background: #9ca077;
  margin: 30px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.features {
  display: flex;
 
  height: 700px;
  gap: 40px;
}
.features h2 {
  font-size: 50px;
}
.features li{
  font-size: 20px;
  padding: auto;
}

.list {
  flex: 1;
}

/* Team */
.team-wrapper {
  background: linear-gradient(135deg, #fad264, #2a2134 );
  margin: 40px;
  padding: 40px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 10px 25px #141312;
}

.team-header {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 30px;
}

.members {
  display: flex;
  justify-content: center;
  gap: 30px;
  
}

.card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}