
/* colors
yellows: #fad264  #f8e398
greens: #9ca077 #344c08
purple: #2a134
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-image: url(https://i.pinimg.com/736x/9f/e5/fe/9fe5fed5bd89b31483056f9209e94a24.jpg);
  background-size: cover;
}

/* Navigation */
.navbar {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #344c08;
  color: white;
}

.links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* Header */
.hero {
  background-image: url(https://i.pinimg.com/736x/27/b6/92/27b69298d70b9cdf71a0a833139d0d78.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  background-position: center ;
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 40px 10px;
  /*border-radius: 0 0 20px 20px;*/
}
.hero img{
  display: block;
  margin: auto;
  
}
.hero h1 {
  font-size: 5rem;
}
/*think*/

.think {
  margin: 40px;
    font-family: "Lato", sans-serif;
    padding: 10px 200px;

  color: #344c08;
  font-weight: 700;
  text-align: center;
  font-size: 25px;

}


/* About */
.about {
 background-color: white; 
 box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 35px;
  color: #9ca077;
  font-family: "Lora", serif;
 
  margin: 40px;
  padding: 40px;
   border-radius: 30px;
    font-family: "Lato", sans-serif;

  gap: 40px;
  margin: 10px;
  border-radius: 20px;
}

.about p{
 font-size: 25px;
   font-family: "Lato", sans-serif;

}

.about img{
  width: 400px;
  height:  400px;
}

.text {
  flex: 1;
}

.image {
  flex: 1;
  background: #f8e398;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

/* Features */
.features-wrapper {
  background: #9ca077;
  font-family: "Lato", sans-serif;
  margin: 30px;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.features {
  display: flex;
 padding: 30px;
  height: 700px;
  gap: 40px;
}
.features h2 {
  align-items: center;
  color: #ffffff;
  font-size: 50px;
}
.features li{
  color: #ffffff;
  font-size: 30px;
  padding: auto;
}

.list {
  flex: 1;
}
/*Epilogue*/
.ovw{
    font-family: "Lato", sans-serif;
    padding: 1px 200px;
    font-size: 20px;
    color: #344c08;

}
.ovw p{
  font-weight: 1000;
}
/* Team */
.team-wrapper {    font-family: "Lato", sans-serif;

  background: linear-gradient(360deg, #ffffff, #9ca077 );
  margin: 40px;
  padding: 40px;
  border-radius: 30px;
  text-align: center;
  
}

.team-header {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 30px;
}

.members {
  display: flex;
  justify-content: center;
  gap: 90px;
  
}

.card {
  color: #344c08;
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}